{% extends 'base.html' %}

{% block title %}Bookmark List{% endblock %}

{% block content %}
<h1>{{question.question_text}}</h1>
{% if error_message %} <p><strong>{{error_message}}</strong></p>{% endif %}

<br>

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
  <li class="list-group-item">
    <input type="radio" name="choice" id="choice{{forloop.counter }}" value="{{choice.id}}">
    <label for="choice{{forloop.counter }}">{{choice.choice_text}}</label><br>
  </li>
    {% endfor %}
        <br>
    <input type="submit" class="btn btn-secondary" value="Vote" id="button_vote">
     <a href="{% url 'polls:index' %}" type="button" class="btn btn-secondary">Back</a>

</form>
        {% endblock %}